<h2>Hello {{user}}</h2>
<p>{{res}}</p>

<ol id ='collections' >
    <li id='collections' *ngFor= "let x of collection">
        <h3 (click) = 'editCol(x)'>{{x.name}}</h3>
        <p id={{x.name}} (click)= 'editCol(x)'>{{x.desc}}</p>
        <div> 
            <input type="checkbox" name="collection" value='{{x}}' [checked]="x.ispublic" (click)='privacyChange(x)'>Public
            <button (click)='delCol(x)'>Delete</button>
        </div>
        <div *ngFor ='let img of x.images' > 
            <img (click)='clickImg(img, x)' src ={{img}}> 
        </div>
    </li>
</ol>


<div id="myModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <span (click)="close()" class="close">&times;</span>
    <img id="selectedImg"> 
    <button (click)='delPic()'>Delete</button>
  </div>
</div>

<div id="myModal2" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <span (click)="close1()" class="close">&times;</span>
    <input type = "text" id="name">
    <input type = "text" id="desc"> 
    <button (click)='saveCol()'>Save</button>
  </div>
</div>