<ul>
    <li class = "container" *ngFor= "let x of collectionList; let i = index">
     
       <p style="float: right"> Like <input style="float: right" (change)="checkLike(x.user ,x.name, i)"  [checked] = "isLiked[i]" type="checkbox" id="checkbox" /> </p>
        <ul>
            <li>Collection Name: {{x.name}} </li> 
            <li>By: {{x.user}} </li>
            <li>Rank: {{x.rank.length}}</li>
            <li><img (click)="openPhotos(x.images)" src={{x.images[0]}} > </li>
        </ul>
       <br> <br>
    </li>
</ul>

<div id="myModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <span (click)="close()" class="close">&times;</span>
    <img id="selectedImg"> 
    <button (click)='next()'>next</button>
  </div>
</div>