<ul>
    <li class = "container" *ngFor= "let x of collectionList; let i = index">
     
       <p style="float: right"> Like <input style="float: right" (change)="checkLike(x.username,x.name, i)"  [checked] = "isLiked[i]" type="checkbox" id="checkbox" /> </p>
        <ul>
            <li>Collection Name: {{x.name}} </li> 
            <li>By: {{x.username}} </li>
            <li>Rank: {{x.rank.length}}</li>
            <li><img (click)="openPhotos()" src={{x.images[0]}}  style=' height:400px; width: 400px'> </li>
        </ul>
       <br> <br>
    </li>
</ul>