:host {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input {
    position: relative
}

.input.label {
    position: absolute;
    padding: 5px;
    left: 10px;
}

.input.input {
    font-size: 15px;
    outline: 0;
}